@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: black;
    font-family: 'Inconsolata', monospace;
    color: white;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

.body-text {
    min-width: 280px;
    padding-left: 30vw;
    padding-right: 30vw;
}